<div class="container mt-4">

  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">
        {{ isEditMode ? 'Edit Player Role' : 'Add Player Role' }}
      </h5>
    </div>

    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <!-- Role Name -->
        <div class="mb-3">
          <label class="form-label fw-semibold">Role Name</label>

          <select class="form-select" name="roleName" [(ngModel)]="model.roleName" required>

            <option value="" disabled selected>
              Select role
            </option>

            <option value="Batsman">Batsman</option>
            <option value="Bowler">Bowler</option>
            <option value="Batting Allrounder">Batting Allrounder</option>
            <option value="Bowling Allrounder">Bowling Allrounder</option>
            <option value="All-rounder">All-rounder</option>

          </select>
        </div>


        <!-- Description -->
        <div class="mb-3">
          <label class="form-label fw-semibold">Description</label>
          <textarea class="form-control" name="description" [(ngModel)]="model.description" rows="3"
            placeholder="Enter description">
          </textarea>
        </div>

        <!-- Active -->
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="isActive" name="isActive" [(ngModel)]="model.isActive">
          <label class="form-check-label fw-semibold" for="isActive">
            Active
          </label>
        </div>

        <!-- Buttons -->
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-success" [disabled]="f.invalid">
            {{ isEditMode ? 'Update' : 'Save' }}
          </button>

          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>